<section class="sub-nav">
    <section class="sub-nav-left">
        <h4><%= currentUser.name %></h4>
        <p>Scheduling Since: <%= currentUser.createdAt.toString().slice(0, 10) %></p>
        <p><a href="/profile">save profile</a></p>
    </section>
</section>

<section class="profile-info-container">
    <section class="prompt-container">
        <% prompts.forEach(prompt => { %>
            <section class="prompt-item">
                <p><%= prompt.text %>...</p>
            <% if (!prompt.characterId) { %>
                <form method="GET" action="/character/search">
                    <input type="text" name="name">
                    <input hidden type="text" name="promptId" value="<%= prompt.id %>">
                    <input type="submit" value="Add Character">
                </form>
            <% } else { %>
                <img class="prompt-image" src="<%= prompt.character.imageurl %>" alt="<%= prompt.character.name %>">
                <p><%= prompt.character.name %></p>
                <form method="POST" action="/prompt/<%= prompt.id %>/?_method=DELETE">
                    <input type="submit" value="Remove Prompt">
                </form>
            <% } %>
            </section>
        <% }) %>
    </section>
    <form method="POST" action="/prompt">
        <select name="text" id="text">
            <option default>Select a prompt</option>
            <option value="If I were stranded on a deserted island, I'd want to be stranded with">If I were stranded on a deserted island, I'd want to be stranded with...</option>
            <option value="If I were starting a band, I'd want our front-person to be">If I were starting a band, I'd want our front-person to be...</option>
            <option value="If we were picking teams in gym class, my first pick would be">If we were picking teams in gym class, my first pick would be...</option>
            <option value="If I were getting married, my best man / maid of honor would be">If I were getting married, my best man / maid of honor would be</option>
            <option value="If they were running for president, I would vote for">If they were running for president, I would vote for</option>
            <option value="My waifu / husbando is...">My waifu / husbando is...</option>
        </select>
        <input type="submit" value="Add prompt">
    </form>
</section>
<p></p>
<section class="calendar-container">
    <section class="calendar-column">
        <h3>MON</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Monday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>TUE</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Tuesday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>WED</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Wednesday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>THU</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Thursday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>FRI</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Friday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>SAT</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Saturday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>SUN</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Sunday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>
</section>