<section class="sub-nav">
    <section class="sub-nav-left">
        <h3><%= currentUser.name %></h3>
        <p>Scheduling Since: <%= currentUser.createdAt.toString().slice(0, 10) %></p>
    </section>
    <section class="sub-nav-right">
        <p><a href="/profile">save profile</a></p>
    </section>
</section>

<section class="profile-info-container">
    <form method="POST" action="/prompt">
        <select name="text" id="text">
            <option default>Select a prompt</option>
            <option class="prompt-option" value="If I were stranded on a deserted island, I'd want to be stranded with">If I were stranded on a deserted island, I'd want to be stranded with...</option>
            <option class="prompt-option" value="If I were starting a band, I'd want our front-person to be">If I were starting a band, I'd want our front-person to be...</option>
            <option class="prompt-option" value="If we were picking teams in gym class, my first pick would be">If we were picking teams in gym class, my first pick would be...</option>
            <option class="prompt-option" value="If I were getting married, my best man / maid of honor would be">If I were getting married, my best man / maid of honor would be...</option>
            <option class="prompt-option" value="If they were running for president, I would vote for">If they were running for president, I would vote for...</option>
            <option class="prompt-option" value="My waifu / husbando is">My waifu / husbando is...</option>
            <option class="prompt-option" value="If the apocalypse began, I'd stick by">If the apocalypse began, I'd stick by...</option>
        </select>
        <input type="submit" value="Add prompt">
    </form>
    <section class="prompt-container">
        <% prompts.forEach(prompt => { %>
            <section class="prompt-item">
                <p class="prompt-text"><%= prompt.text %>...</p>
            <% if (!prompt.characterId) { %>
                <form method="GET" action="/character/search">
                    <input class="black" type="text" name="name">
                    <input hidden type="text" name="promptId" value="<%= prompt.id %>">
                    <input type="submit" value="Add Character">
                    <%- include('../partials/alerts') %>
                </form>
                <form method="POST" action="/prompt/<%= prompt.id %>/?_method=DELETE">
                    <input type="submit" value="Remove Prompt">
                </form>
            <% } else { %>
                <img class="prompt-image" src="<%= prompt.character.imageurl %>" alt="<%= prompt.character.name %>">
                <p><%= prompt.character.name %></p>
                <form method="POST" action="/prompt/<%= prompt.id %>/?_method=DELETE">
                    <input type="submit" value="Remove Prompt">
                </form>
            <% } %>
            </section>
        <% }) %>
    </section>
</section>
<h3>My Cal</h3>
<section class="calendar-container">
    <section class="calendar-column">
        <h3>MON</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Monday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>TUE</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Tuesday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>WED</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Wednesday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>THU</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Thursday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>FRI</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Friday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>SAT</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Saturday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>SUN</h3>
        <% animes.forEach(anime => { %>
            <% if (anime.date.includes('Sunday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>
</section>

<script>
    let promptOptions = document.getElementsByClassName('prompt-option')
    let promptTexts = document.getElementsByClassName('prompt-text')

    let optionsArray = Array.from(promptOptions).map(prompt => {
        return prompt
    })

    let textsArray = Array.from(promptTexts).map(text => {
        return text
    })

    // console.log(optionsArray)
    // console.log(textsArray)

    textsArray.forEach(text => {
        optionsArray.forEach(option => {
            if (option.textContent == text.textContent) {
                console.log(`🤡`)
                option.style.display = 'none'
            }
        })
    })
</script>

