<section class="sub-nav">
    <section class="sub-nav-left">
        <h2>Upcoming Anime</h2>
    </section>

    <section class="sub-nav-right">
        <p>Search By Season</p>
        <form action="/anime/season" method="GET">
            <select name="year" id="year">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>
            <select name="season" id="season">
                <option value="winter">Winter</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="fall">Fall</option>
            </select>
            <input type="submit" value="Search">
        </form>
    </section>
</section>

<h4 class="list-row-header">MONDAY</h4>
<section class="list-row">
    <% monday.forEach(show => { %>
        <article class="list-row-entry">
            <img src="<%= show.image_url %>" alt="<%= show.title %> art.">
            <p class="title-label"><a href="/anime/<%=show.mal_id %>"><%= show.title %></a></p>
        </article>
    <% }) %>
</section>

<h3 class="list-row-header">TUESDAY</h3>
<section class="list-row">
    <% tuesday.forEach(show => { %>
        <article class="list-row-entry">
            <img src="<%= show.image_url %>" alt="<%= show.title %> art.">
            <p><a href="/anime/<%=show.mal_id %>"><%= show.title %></a></p>
        </article>
    <% }) %>
</section>

<h3 class="list-row-header">WEDNESDAY</h3>
<section class="list-row">
    <% wednesday.forEach(show => { %>
        <article class="list-row-entry">
            <img src="<%= show.image_url %>" alt="<%= show.title %> art.">
            <p><a href="/anime/<%=show.mal_id %>"><%= show.title %></a></p>
        </article>
    <% }) %>
</section>

<h3 class="list-row-header">THURSDAY</h3>
<section class="list-row">
    <% thursday.forEach(show => { %>
        <article class="list-row-entry">
            <img src="<%= show.image_url %>" alt="<%= show.title %> art.">
            <p><a href="/anime/<%=show.mal_id %>"><%= show.title %></a></p>
        </article>
    <% }) %>
</section>

<h3 class="list-row-header">FRIDAY</h3>
<section class="list-row">
    <% friday.forEach(show => { %>
        <article class="list-row-entry">
            <img src="<%= show.image_url %>" alt="<%= show.title %> art.">
            <p><a href="/anime/<%=show.mal_id %>"><%= show.title %></a></p>
        </article>
    <% }) %>
</section>

<h3 class="list-row-header">SATURDAY</h3>
<section class="list-row">
    <% saturday.forEach(show => { %>
        <article class="list-row-entry">
            <img src="<%= show.image_url %>" alt="<%= show.title %> art.">
            <p><a href="/anime/<%=show.mal_id %>"><%= show.title %></a></p>
        </article>
    <% }) %>
</section>

<h3 class="list-row-header">SUNDAY</h3>
<section class="list-row">
    <% sunday.forEach(show => { %>
        <article class="list-row-entry">
            <img src="<%= show.image_url %>" alt="<%= show.title %> art.">
            <p><a href="/anime/<%=show.mal_id %>"><%= show.title %></a></p>
        </article>
    <% }) %>
</section>