<h3><%= season %> <%= year %></h3>

<% anime.forEach(anime => { %>
    <p><%= anime.title %></p>
    <img src="<%= anime.image_url %>" alt="<%= anime.title %> art.">
    <p><%= anime.synopsis.slice(0, 144) %>... <a href="/anime/<%= anime.mal_id %>">Read More</a></p>
<% }) %>