<section class="sub-nav">
    <section class="sub-nav-left">
        <section class="info-block">
            <h3><%= name %></h3>
        <p><%= engTitle %></p>
        </section>
    </section>
    <section class="sub-nav-right">
        <p><a href="<%= backUrl %>">back</a></p>
    </section>
</section>

<section class="show-container">
    <img src="<%= image %>" alt="<%= name %> art.">
<% if (!airing) { %>
    <p><%= airs %></p>
    <p>Airing <%= airdate %></p>
<% } %>
<p>Source: <%= source %></p>
<p><%= synopsis %></p>
<% if (currentUser) { %>
    <% if (animes.length === 0) { %>
        <form method="POST" action="/anime/<%= malId %>">
            <input hidden type="text" name="name" value="<%= name %>">
            <input hidden type="text" name="date" value="<%= airs %>">
            <input hidden type="text" name="caldate" value="<%= caldate %>">
            <input hidden type="text" name="airdate" value="<%= airdate %>">
            <input hidden type="text" name="imageurl" value="<%= image %>">
            <input hidden type="number" name="malId" value="<%= malId %>">
            <input class="btn" type="submit" value="Add Show">
        </form>
    <% } else { %>
        <form method="POST" action="/anime/<%= malId %>/?_method=DELETE">
            <input class="btn" type="submit" value="Remove Show">
        </form>
    <% } %>
<% } %>
</section>