<section class="sub-nav">
    <section class="sub-nav-left">
        <% if (profile.imageurl) { %>
            <img class="profile-picture" src="<%= profile.imageurl %>">
        <% } %>
        <section class="info-block">
            <h3><%= profile.name %></h3>
            <p>Scheduling Since: <%= profile.createdAt.toString().slice(0, 10) %></p>
            <% let match = 0 %>
            <% viewerAnimes.forEach(viewerAnime => { %>
                <% profileAnimes.forEach(profileAnime => { %>
                    <% if (viewerAnime.dataValues.id === profileAnime.dataValues.id) { %>
                        <% match++ %>
                    <% } %>
                <% }) %>
            <% }) %>
            <p><%= match %> anime in common</p>
        </section>
    </section>
    <section class="sub-nav-right">
        <p><a href="/users">back to users</a></p>
    </section>
</section>

<section class="profile-info-container">
    <section class="prompt-container">
        <% prompts.forEach(prompt => { %>
            <% if (prompt.characterId) { %>
                <section class="prompt-item">
                    <p><%= prompt.text %>...</p>
                    <img class="prompt-image" src="<%= prompt.character.imageurl %>" alt="<%= prompt.character.name %>">
                    <h4><%= prompt.character.name %></h4>
                </section>
            <% } %>
        <% }) %>
    </section>
</section>
<h3>My Cal</h3>
<section class="calendar-container">
    <section class="calendar-column">
        <h3>MON</h3>
        <% profileAnimes.forEach(anime => { %>
            <% if (anime.date.includes('Monday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p class="smaller"><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>TUE</h3>
        <% profileAnimes.forEach(anime => { %>
            <% if (anime.date.includes('Tuesday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p class="smaller"><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>WED</h3>
        <% profileAnimes.forEach(anime => { %>
            <% if (anime.date.includes('Wednesday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p class="smaller"><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>THU</h3>
        <% profileAnimes.forEach(anime => { %>
            <% if (anime.date.includes('Thursday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p class="smaller"><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>FRI</h3>
        <% profileAnimes.forEach(anime => { %>
            <% if (anime.date.includes('Friday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p class="smaller"><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>SAT</h3>
        <% profileAnimes.forEach(anime => { %>
            <% if (anime.date.includes('Saturday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p class="smaller"><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>

    <section class="calendar-column">
        <h3>SUN</h3>
        <% profileAnimes.forEach(anime => { %>
            <% if (anime.date.includes('Sunday')) { %>
                <article class="calendar-column-item">
                    <p><a href="/anime/<%= anime.malId %>"><%= anime.name %></a></p>
                    <p class="smaller"><%= anime.date %></p>
                </article>
            <% } %>
        <% }) %>
    </section>
</section>